{%extends 'yousta/base.html'%}

{%block body_block%}


<div class="d-grid mt-5 gap-2 d-md-flex justify-content-md-end">
  <a href="{%url 'cloth-list'%}" class="btn btn-primary">Cloths List</a>
</div>


<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center">Cloths</h1>
  <div class="w-100">
    <form action="" method="post" enctype="multipart/form-data" class="border border-2">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add" />
    </form>
  </div>
  <div class="mt-4 w-100">
  </div>
</div>

{% endblock %}